<h2 class="display-4">Let's get started</h1>
<p class="lead">Hoppers store your tasks so you can access them later one at a time.</p>
<ol>
  <li>Create a hopper to store what you need to keep track of</li>
  <li>Add tasks to a hopper until you're content</li>
  <li>Ready to work on a task? Click "pop" next to a hopper to "pin" it</li>
</ol>
<p class="lead">If you pop a hopper while a task is pinned, the pinned task will be returned to its hopper.</p>
