<h2 class="display-4">Let's get started</h1>
<p class="lead">Hoppers store your tasks so you can access them later one at a time.</p>
<ol>
  <li>Create a hopper to store what you need to keep track of</li>
  <li>Add tasks to it</li>
  <li>"Pin" it to start working on those tasks</li>
</ol>
