<div class="jumbotron" id="greeting">
  <% if current_user.pinned_hopper.nil? %>
    <%= render "shared/greeting_get_started" %>
  <% else %>
    <%= render "shared/greeting_pinned" %>
  <% end %>
</div>
