<h2 class="display-4">A blank slate</h2>
<p class="lead">Add tasks to hoppers and pop one to select a task at random to pin here!</p>
<p class="lead">If you pop a hopper while a task is pinned, the pinned task will be returned to its hopper.</p>
