<h1>It's Simple!</h1>
<p class="lead">For a lot of people traditional "todo" apps can be overwhelming. We're here to help.</p>
<hr />
<p class="lead">"Hoppers" act as buckets for your tasks. Put a task in a hopper and get it out of your head. Later you can "pin" that hopper to work on one random task at a time.</p>
<p>
<%= link_to 'Login', new_session_path(:user), class: 'btn btn-default btn-lg' %>
<%= link_to 'Get Started »', new_registration_path(:user), class: 'btn btn-primary btn-lg' %>
</p>
