<div class="panel-group hoppers">
  <% @hoppers.each do |hopper| %>
    <hr>
    <%= render "hoppers/hopper", hopper: hopper %>
    <%= render "tasks/task_modal", hopper: hopper %>
    <%= render "hoppers/settings_modal", hopper: hopper %>
  <% end %>
</div>
