/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
    margin: 0;
}

p.encourage {
    font-weight: bold;
    margin-bottom: 30px;
    font-style: italic;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

p.encourage::before {
    content: "☆ ";
}

p.encourage::after {
    content: " ☆";
}

.navbar {
    margin-bottom: 0px;
}

.container-fluid.content {
    padding: 0;
}

.navbar, .container-fluid.content, .flash-alert {
    padding-left: ($jumbotron-padding / 2);
    padding-right: ($jumbotron-padding / 2);
    @media(min-width: $screen-sm-min){
        padding-left: ($jumbotron-padding * 2);
        padding-right: ($jumbotron-padding * 2);
    }
 }

 .content {
     margin-top: 10px;
 }

 .flash-alert {
     margin-bottom: 0;
 }

.navbar-right {
    padding-right: 0px;
}

.navbar-logo {
    @extend .navbar-brand;
    padding: 10px;
    padding-left: 0px;
}

.navbar-logo img {
    height: 100%;
}

.greeting {
    margin-top: 20px;
}

.greeting hr {
   margin: 10px 0px; 
}

.hopper-msg {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
}
